h1 {
  text-align: center;
}

div {
  box-sizing: border-box;
}

.row, .button-options {
  display: flex;
  justify-content: center;
}

.box {
  width: 100%;
  height: 100%;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  padding: 2px;
  /* border: 1px solid; */
  font-size: 3.5vh;
  border-collapse: collapse;
}

.board {
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 3%;
  height: 60vh;
  /* border:1px solid;   */
}

.box:hover, button:hover {
  cursor: pointer;
}

.box.active {
  background-color: lightblue;
}

.error {
  color: red;
}

.row {
  height: 11.1%;
}

.row>.box {
  border-right: 1px solid grey;
  border-top: 1px solid grey;
}

.row>.box:nth-child(1) {
  border-left: 2px solid #282c34;
}

.row>.box:nth-child(3n) {
  border-right: 2px solid #282c34;
}

.row:nth-child(3n)>.box {
  border-bottom: 1px solid #282c34;
}

.row:nth-child(1)>.box {
  border-top: 2px solid #282c34;
}

.row:last-child>.box {
  border-bottom: 2px solid #282c34;
}

.button {
  width: 1.5em;
  height: 1.5em;
  font-size: 5vh;
  text-align: center;
  cursor: pointer;
  border: 1px solid grey;
  overflow: hidden;
  position: relative;
  /* Safari */
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: lightblue;
}

.button:after {
  content: "";
  background: royalblue;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.5s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

/* .eraser img {
  height: 5em;
  width: 5em;
} */

.eraser {
  margin-left: 3%;
  cursor: pointer;
}

@media screen and (orientation: portrait) {
  .board {
    margin-right: 2%;
    margin-left: 2%;
  }
}

.button-options{
  padding: 3%;
}